<html>
    <head>
        <title>To Do list</title>
        <link rel="stylesheet" href="/home.css">
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    </head>
    <body>

        <div id="main-box">
            <div id="forms">
                <h1><i class="fas fa-clipboard-list"></i> TASK LIST</h1>
                <form action="/create" method="POST">
                    <label for="description" id="label">DESCRIPTION</label>
                    <input id="description" placeholder="Write what you need to do." name="desc" required>
                    <select id="dropdown" name="option" required>
                        <option name="Personal">Personal</option>
                        <option name="Work">Work</option>
                        <option name="School">School</option>
                        <option name="Cleaning">Cleaning</option>
                        <option name="Other">Other</option>
                    </select>
                    <input id="date" type="date" name="date" required>
                    <button type="submit" id="add" class="button"><i class="fas fa-plus"></i> Add Task</button>
                </form>
                <div id="new-task">
                    <form action="/delete" method="POST">
                        <% for(let i of locals.tasks){ %>
                            <div class="task">
                                <input type="checkbox" name="val" value=<%=i._id%> >
                                <div class="print">
                                    <p class="written"><%=i.desc%></p>
                                    <p class="date"><i class="fas fa-calendar-check"></i> <%=i.date%></p>
                                </div>
                                <div id="category">
                                    <p><%=i.category%></p>
                                </div>
                            </div>
                            <%}%>
                            <button id="delete" type="submit" class="button"><i class="fas fa-times"></i> Delete Task</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>